.container {
    position: relative;
    top: 150px;
}
.missionstatement {
    position: relative;
    left: 0px;
    margin-top: 20px;
}

.slideshow {
    
    height: 409px;
    left: 0px;
    top: 450px;
    background: #FCD8D8;
}

h2 {
    font-family: Gorditas;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #EFB59D;
}


@media (min-width:1025px) {
    .container {
    position: relative;
    top: 0px;

    }

    .carousel .slide{
        width: 300px;
        height: 300px;
    }

    .carousel {
        margin: 0 auto;
        width: 400px;
        height: 200px;
    }
}