footer {
    height: 63px;
    left: 0px;
    top: 750px;
    right: 0px;
    bottom: 0px;
    background: #545353;
    color: #ffffff;
    font-family: The Girl Next Door;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    text-align: center;
}